* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif !important;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto !important;
}

/*--- NAV ----*/

#Nav-jsx-component a.nav-link {
    color: black;
}

#Nav-jsx-component nav.navbar.fixed.navbar-expand-sm {
    background-image: linear-gradient( white, grey);;
    padding: 0;
}

#Nav-jsx-component div.jumbotron-fluid.text-center {
    background-image: url('images/book.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.3em;
}

#Nav-jsx-component h1#title {
    font-weight: bold;
}

#Nav-jsx-component p#statement {
    margin-bottom: 0;
}

/*--- RECIPE LIST*/

div.card-footer {
    background-color: transparent;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 1em;
}

div.recipe-list-container {
    min-height: 100%;
}

h6.card-subtitle.mb-2.text-muted {
    padding-bottom: 0.3em;
}

/*SIGNIN - REGISTER*/

div#border-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.input-container.col-xs-3 {
    display: flex;
    margin-bottom: 1em;
}

.icon {
    padding: 0.6em;
    background: darkgrey;
    color: white;
    min-width: 3em;
    text-align: center;
}

/*RECIPE*/

div#recipe-form-container {
    background-color: darkslateblue;
}