/*COMMON CSS*/

#Recipe-jsx-component div#border-shadow, #AddRecipe-jsx-component div#border-shadow, #Register-jsx-component div#border-shadow, #SignIn-jsx-component div#border-shadow, #RequestResetToken-jsx-component div#border-shadow, #ResetPassword-jsx-component div#border-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
    box-sizing: border-box;
}

div#app {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
}

html, body {
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-family: 'Abel', sans-serif !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.hidden {
    display: none;
}

div#SearchByIngredients-jsx-component, div#Recipe-jsx-component, div#AddRecipe-jsx-component, div#BrowseRecipes-jsx-component {
    background-color: antiquewhite;
    padding-top: 10em;
    padding-left: 8em;
    padding-right: 1.5em;
    padding-bottom: 2em;
}

div.form-container {
    width: 750px;
    background-color: white;
    margin: auto;
    margin-top: 2em;
    padding: 0;
}

/* --- ADD RECIPE --- */

div#AddRecipe-jsx-component p.mb-0.mt-1 {
    font-size: 0.95em;
    color: orangered;
}

/*--- RECIPE ---*/

div#AddRecipe-jsx-component, div#Recipe-jsx-component, div#RecipeList-jsx-component, div#BrowseRecipes-jsx-component {
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
    margin: 0 auto;
    min-height: 100%;
}

#Recipe-jsx-component p.text-center.card-header {
    background-color: white !important;
    font-style: italic;
    font-size: 2em;
}

#Recipe-jsx-component li {
    list-style-type: square;
}

/*--- NAV ----*/

div#Nav-jsx-component {
    position: fixed;
    width: 100%;
    z-index: 1;
}

#Nav-jsx-component a.nav-link {
    color: black;
}

#Nav-jsx-component nav.navbar.fixed.navbar-expand-sm {
    background-image: linear-gradient(white 10%, gray 85%,rgb(114, 113, 113) 95%);
    height: 2.5em;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Nav-jsx-component div.jumbotron-fluid.text-center {
    background-image: url('images/title-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.3em;
}

#Nav-jsx-component h1#title {
    font-weight: bold;
    text-shadow: 2px 2px 5px white;
}

#Nav-jsx-component h4#statement {
    text-shadow: 2px 2px 5px white;
    font-size: 1.8em;
}

#Nav-jsx-component h5.nav-item {
    font-weight: bold;
    color: olivedrab;
    text-shadow: 2px 2px 4px white;
}

#Nav-jsx-component p#statement {
    margin-bottom: 0;
}

/*---SIDENAV --- */

#Nav-jsx-component nav.navbar.sidenav {
    background-image: linear-gradient(141deg, white -5%, olivedrab 20%, rgb(98, 131, 33) 51%, white 95%) !important;
    height: 100%;
    width: 130px;
    position: fixed;
    z-index: 1;
    background-color: #111;
    padding-left: 0.5em;
    padding-right: 0.5em;
    overflow-x: hidden;
    align-items: unset;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Nav-jsx-component li.nav-item.homepage {
    border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}

#Nav-jsx-component ul.navbar-nav {
    text-align: center;
}

#Nav-jsx-component a.nav-link {
    color: black;
}

#Nav-jsx-component a.nav-link.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: darkgrey;
}

#Nav-jsx-component a.nav-link:hover, #Nav-jsx-component a.nav-link:hover {
    color: white;
}

/*--- RECIPE LIST ----*/

#RecipeList-jsx-component div.card-footer {
    background-color: transparent;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 1em;
}

#RecipeList-jsx-component h6.card-subtitle.mb-2.text-muted {
    padding-bottom: 0.3em;
}

#RecipeList-jsx-component div#recipe-card {
    box-shadow: 5px 10px 8px #888888;
}

/* --- SIGNIN - REGISTER - RECOVERY EMAIL - RESET PASSWORD --- */

#Register-jsx-component div.input-container, #SignIn-jsx-component div.input-container, #RequestResetToken-jsx-component div.input-container, #ResetPassword-jsx-component div.input-container {
    display: flex;
    margin-bottom: 1em;
}

#Register-jsx-component .icon, #SignIn-jsx-component .icon {
    padding: 0.6em;
    background: darkgrey;
    color: white;
    min-width: 3em;
    text-align: center;
}

div#Register-jsx-component, div#SignIn-jsx-component, div#RequestResetToken-jsx-component, div#ResetPassword-jsx-component {
    padding-top: 15em;
    padding-left: 6em;
    min-height: 100%;
    background-color: antiquewhite;
}

div#Register-jsx-component #border-shadow, div#SignIn-jsx-component #border-shadow, div#RequestResetToken-jsx-component #border-shadow, div#ResetPassword-jsx-component #border-shadow {
    background-color: white;
}

/* --- SIGN-IN --- */

#SignIn-jsx-component div.forgot-psw {
    margin-bottom: 1em;
    text-align: center;
}

/*--- RECOVERY EMAIL - RESET-PASSWORD  ---*/

#RequestResetToken-jsx-component p, #ResetPassword-jsx-component p {
    color: black;
}

#RequestResetToken-jsx-component h4.psw-recovery, #ResetPassword-jsx-component h4.psw-recovery {
    color: orangered;
    font-weight: bold;
}

#RequestResetToken-jsx-component p.outcome, #ResetPassword-jsx-component p.outcome {
    text-align: center;
    color: royalblue;
}

#RequestResetToken-jsx-component div.request-reset-token-msg {
    margin: 0, 1.3em;
}

/* --- SEARCH --- */

div#SearchByIngredients-jsx-component {
    min-height: 100%;
}

span.chip._7ahQImyV4dj0EpcNOjnwA.false {
    font-size: 1em;
    background-color: olivedrab;
}

div#SearchByIngredients-jsx-component ._3vt7_Mh4hRCFbp__dFqBCI li:hover, .lhyQmCtWOINviMz0WG_gr li:hover {
    background-color: gray;
    color: white;
}

div#SearchByIngredients-jsx-component li.lhyQmCtWOINviMz0WG_gr {
    background-color: white;
    color:black;
}

div#SearchByIngredients-jsx-component div._2OR24XnUXt8OCrysr3G0XI {
    background-color: white;
}

/* --- RECIPE DETAILS --- */

div.btn-container {
    position: relative;
    display: inline-block;
    margin-top: 0.5em;
}

img.rounded.mx-auto.d-block.img-thumbnail.mr-1 {
    width: 900px;
    height: auto;
}

button.btn-info.img-btn {
    position: absolute;
    z-index: 2;
    bottom: 0%;
    right: 0%;
}

/* --- RECIPE NEW INGREDIENT --- */

#RecipeNewIngredient-jsx-component p {
    font-size: 0.9em;
    font-style: italic;
    color: #007bff;
}

#RecipeNewIngredient-jsx-component button.btn-link {
    font-style: italic;
}

/* --- ADD NEW INGREDIENT --- */

#AddNewIngredient-jsx-component label {
    margin-top: 0.2em;
}

#AddNewIngredient-jsx-component input.form-control {
    padding-left: 0;
    padding-right: 0;
}

/* --- HOMEPAGE --- */

div#Homepage-jsx-component {
    min-height: 100%;
    max-width: 100%;
    margin-top: 230px;
    margin-left: 130px;
}

div#Homepage-jsx-component p.card-subtitle.latest-subtitle {
    font-size: 0.8em;
}

div#Homepage-jsx-component h6.card-title.latest-title {
    font-size: 0.9em;
}

div#Homepage-jsx-component div.latest-recipes-container {
    border-bottom: lightgray 1px ridge;
    border-top: lightgray 1px ridge;
    padding: 1em 0.5em;
}

div#Homepage-jsx-component div.row.main-title{
    background-image: linear-gradient(141deg, white -5%, olivedrab 41%, rgb(233, 232, 232) 81%, gray 95%);
}

div#Homepage-jsx-component div.demo-features-container {
    padding-bottom: 1em;
}

div#Homepage-jsx-component div.features-container {
    padding: 1em 0.5em;
}

div#Homepage-jsx-component div.col-6.col-md-4 {
    border-left: lightgray 1px ridge;
}

div#Homepage-jsx-component div.card-body.features {
    background-color: seashell;
}

div#Homepage-jsx-component h6.card-subtitle.features-subtitle {
    color: olivedrab !important;
    font-weight: bold;
}

div#Homepage-jsx-component h5.card-title.features-title {
    font-weight: bold;
} 