/*COMMON CSS*/

#Recipe-jsx-component div#border-shadow, #AddRecipe-jsx-component div#border-shadow, #Register-jsx-component div#border-shadow, #SignIn-jsx-component div#border-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
    box-sizing: border-box;
}

div#app {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
}

html, body {
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-family: 'Abel', sans-serif !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.hidden {
    display: none;
}

div#SearchByIngredients-jsx-component, div#Homepage-jsx-component, div#Recipe-jsx-component, div#AddRecipe-jsx-component, div#BrowseRecipes-jsx-component {
    padding-top: 12em;
    padding-left: 9.5em;
    padding-right: 1.5em;
    padding-bottom: 2em;
}

div.form-container {
    width: 50%;
    background-color: white;
    margin: auto;
    margin-top: 2em;
}

/* --- ADD RECIPE --- */

div#AddRecipe-jsx-component p.mb-0.mt-1 {
    font-size: 0.95em;
    color: orangered;
}

/*--- RECIPE ---*/

div#AddRecipe-jsx-component, div#Recipe-jsx-component {
    background-color: gainsboro;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
    margin: 0 auto;
    min-height: 100%;
}

#Recipe-jsx-component p.text-center.card-header {
    background-color: white !important;
    font-style: italic;
    font-size: 2em;
}

#Recipe-jsx-component li {
    list-style-type: square;
}

/*--- NAV ----*/

div#Nav-jsx-component {
    position: fixed;
    width: 100%;
    z-index: 1;
}

#Nav-jsx-component a.nav-link {
    color: black;
}

#Nav-jsx-component nav.navbar.fixed.navbar-expand-sm {
    background-image: linear-gradient( white, grey);
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Nav-jsx-component div.jumbotron-fluid.text-center {
    background-image: url('images/title-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.3em;
}

#Nav-jsx-component h1#title {
    font-weight: bold;
    text-shadow: 2px 2px 4px #f3eded;
}

#Nav-jsx-component h4#statement {
    text-shadow: 2px 2px 4px #f3eded;
    font-size: 1.8em;
}

#Nav-jsx-component h5.nav-item {
    font-weight: bold;
    color: olivedrab;
    text-shadow: 2px 2px 4px #f3eded;
}

#Nav-jsx-component p#statement {
    margin-bottom: 0;
}

/*---SIDENAV --- */

#Nav-jsx-component nav.navbar.sidenav {
    background-image: linear-gradient(olivedrab, white) !important;
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    align-items: unset;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Nav-jsx-component a.nav-link {
    color: black;
}

#Nav-jsx-component a.nav-link.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: darkgrey;
}

#Nav-jsx-component a.nav-link:hover, #Nav-jsx-component a.nav-link:hover {
    color: white;
}

/*--- RECIPE LIST ----*/

#RecipeList-jsx-component div.card-footer {
    background-color: transparent;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 1em;
}

#RecipeList-jsx-component h6.card-subtitle.mb-2.text-muted {
    padding-bottom: 0.3em;
}

#RecipeList-jsx-component div#recipe-card {
    box-shadow:5px 10px 8px #888888;
}

/* --- SIGNIN - REGISTER --- */

#Register-jsx-component div.input-container.col-xs-3, #SignIn-jsx-component div.input-container.col-xs-3 {
    display: flex;
    margin-bottom: 1em;
}

#Register-jsx-component .icon, #SignIn-jsx-component .icon {
    padding: 0.6em;
    background: darkgrey;
    color: white;
    min-width: 3em;
    text-align: center;
}

div#Register-jsx-component, div#SignIn-jsx-component {
    padding-top: 15em;
    min-height: 100%;
}

div#Register-jsx-component #border-shadow, div#SignIn-jsx-component #border-shadow {
    background-color: white;
}


/* --- SEARCH --- */

span.chip._7ahQImyV4dj0EpcNOjnwA.false {
    font-size: 1em;
    background-color: olivedrab;
}

div#SearchByIngredients-jsx-component ._3vt7_Mh4hRCFbp__dFqBCI li:hover, .lhyQmCtWOINviMz0WG_gr.highlight.false.option {
    background-color: lightgrey;
}

/* --- RECIPE DETAILS --- */

div.btn-container {
    position: relative;
    display: inline-block;
    margin-top: 0.5em;
}

img.rounded.mx-auto.d-block.img-thumbnail.mr-1 {
    width: 900px;
    height: auto;
}

button.btn-info.img-btn {
    position: absolute;
    z-index: 2;
    bottom: 0%;
    right: 0%;
}


/* --- HOMEPAGE --- */

div#Homepage-jsx-component {
    background-image:url("images/under-construction.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    margin-top:200px;
    margin-left:100px;
}